POSTGRES_DB=newssite
POSTGRES_USER=newuser
POSTGRES_PASSWORD=change_me
DB_HOST=127.0.0.1
DB_PORT=5432
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=change_me
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@example.com
